aicspylibczi==3.1.2
contourpy==1.2.0
histoencoder==0.1.1
histoprep==2.0.5
importlib-resources==6.3.0
joblib==1.4.2
markdown-it-py==3.0.0
matplotlib==3.8.3
mdurl==0.1.2
mizani==0.11.0
mpire==2.10.2
numpy==1.24.4
opencv-python==4.9.0.80
opencv-python-headless==4.5.5.64
openslide-python==1.3.1
palmerpenguins==0.1.4
pandas==2.2.1
patsy==0.5.6
plotnine==0.13.2
polars==0.16.18
pygments==2.18.0
rich==13.7.1
rich-click==1.8.2
scikit-learn==1.5.0
staintools==2.1.2
statsmodels==0.14.1
threadpoolctl==3.5.0
timm==0.5.4
torch>=2.0.0,<2.1.0
torchaudio>=0.11.0,<0.12.0
torchvision==0.15.2
typing-extensions==4.12.0
tzdata==2024.1
wsipipe==0.1.6